.section {
	position: relative;
	height: 50vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Hind', sans-serif;
	background-image: url('../img/b.jpg');
	background-size: cover;
	background-position: center;
}

.booking-form {
	background: rgba(10, 10, 10, 0.7);
	padding: 5px;
	border-radius: 6px;
}

.booking-form .form-header {
	padding: 5px;
	margin: 0px -5px 30px;
	background: #0a0a0a;
}

.booking-form .form-header {
	padding: 5px;
	margin: 0px -5px 30px;
	background: #0a0a0a;
}


.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	background-color: #1c2126;
	height: 50px;
	padding: 7px 20px 0px;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 24px;
	text-align: center;
	pointer-events: none;
	height: 50px;
	line-height: 50px;
	color: #2d343b;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	position: absolute;
	top: 15px;
	left: 20px;
	text-transform: uppercase;
	color: #2d343b;
	font-weight: 700;
	line-height: 24px;
	height: 24px;
	font-size: 16px;
	pointer-events: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-group.input-not-empty .form-label {
	top: -10px;
	color: #fff;
	font-size: 14px;
}

.booking-form .form-group:not( .input-not-empty) .form-control:not( :focus) {
	color: transparent;
}

.booking-form .form-group .form-control:focus+.form-label {
	top: -10px;
	color: #fff;
	font-size: 14px;
}

.booking-form .form-checkbox input {
	position: absolute !important;
	margin-left: -9999px !important;
	visibility: hidden !important;
}

.booking-form .form-checkbox label {
	position: relative;
	padding-top: 4px;
	padding-left: 100px;
	color: #fff;
	font-weight: 700;
}

.booking-form .form-checkbox label+label {
	margin-left: 15px;
}

.booking-form .form-checkbox input+span {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	border: 2px solid #1c2126;
	background: #1c2126;
	border-radius: 50%;
}

.booking-form .form-checkbox input:checked+span {
	border-color: #f7c411;
}

.booking-form .form-checkbox input+span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #f7c411;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-checkbox input:not(:checked)+span:after {
	opacity: 0;
}

.booking-form .form-checkbox input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}

.booking-form .submit-btn {
	color: #1c2126;
	background-color: #f7c411;
	font-weight: 700;
	height: 50px;
	border: none;
	padding: 0px 50px;
}